<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../src/assets/css/componentes.css?v=1.0">
    <link rel="stylesheet" href="../../../src/assets/css/fonts/fonts.css">
    <title>Document</title>
</head>
<body>
    <div class="layout-container">
        <header class="mi-header">
            <h3>Electro <br>
                Arduino</h3>
                <div class="contenedor8">
                    <a href="../../../index.html">
                        <button type="submit">Home</button>
                    </a>
                    <a href="https://www.arduino.cc/en/software/">
                        <button type="submit">Arduino Software</button>
                    </a>
                    <a href="https://www.tinkercad.com/">
                        <button type="submit">Thinker Card</button>
                    </a>
                    <a href="../../../pages/login/login.php">
                        <button type="submit">Iniciar Sesion</button>
                    </a>
                </div>
        </header>
        <main class="mi-contenido">
            <div class="contenedor0">
                <div class="subcontenedor0">
                    <h3>Potenciometro</h3>
                    <img class="img_componente" src="../../../src/img/electronica/#" alt="img_componente">
                </div>
                <div class="subcontenedor1">
                    <h3>¿Que es?</h3>
                    texto texto texto.
                    <br><br>
                </div>
            </div>

            <div class="contenedor1">
                <div class="subcontenedor2">
                    <h3>Potenciometro</h3><br>
                    <h6>Simbolo Esquematico</h6><br>
                    <img class="img_componente" src="../../../src/img/electronica/#" alt="img_componente">
                </div>
                <div class="subcontenedor3">
                    <h3>¿Para que sirve?</h3>
                    Texto texto texto texto texto:
                    <br><br>
                    <ul>
                        <li><b>dato 0:</b> texto texto texto.</li>
                            <br>
                        <li><b>dato 1:</b> Texto texto texto.</li>
                            <br>
                        <li><b>dato 2:</b> texto texto texto.</li>
                            <br>
                    </ul>
                </div>
            </div>

            <div class="contenedor2">
                <div class="subcontenedor4">
                    <h3>¿Como funciona?</h3>
                    Texto texto texto.
                    <br><br>
                    Texto texto texto.
                    <br><br>
                    Texto texto texto.
                </div>
                <div class="subcontenedor5">
                    <img class="img_componente" src="../../../src/img/electronica/#" alt="img_componente">
                </div>
            </div>

            <div class="contenedor3">
                <div class="subcontenedor6">
                    <h3>Caracteristicas Principales</h3>
                    Texto texto texto.
                    <ul>
                        <li><b>dato 0:</b> Texto texto texto.</li><br>
                        <li><b>dato 1:</b> Texto texto texto.</li><br>
                        <li><b>dato 2:</b> Texto texto texto.</li><br>
                    </ul>
                </div>
                <div class="subcontenedor7">
                    <img class="img_componente" src="../../../src/img/electronica/#" alt="img_componente">
                </div>
            </div>

            <div class="contenedor4">
                <div class="subcontenedor8">
                    <h3>Simbolo y Pinout</h3><br>
                    <img class="img_circuito" src="../../../src/img/electronica/#" alt="img_componente">
                    <h3>Simbolo Electrico</h3><br>
                    <img class="img_circuito" src="../../../src/img/electronica/#" alt="img_componente">
                    <h3>Si aplica, patillaje</h3>
                    <br>
                    <img class="img_circuito" src="../../../src/img/electronica/#" alt="img_componente">
                </div>
            </div>

            <div class="contenedor5">
                <div class="subcontenedor10">
                    <h3>Ejemplo Practico</h3><br>
                    Vamos a realizar una practica basica con un... .
                    <h4>Lista de componentes</h4>
                    <ul>
                        <li># componente</li>
                        <li># componente</li>
                        <li># componente</li>
                        <li># componente</li>
                    </ul><br>
                    En la imagen se muestra un circuito basico... .
                    <img class="img_circuito" src="../../../src/img/electronica/#" alt="img_circuito">
                </div>
            </div>

            <div class="contenedor6">
                <div class="subcontenedor12">
                    <h3>Datasheet</h3>
                    <a href="../../../src/img/electronica/datasheet_electronica_componentes/#" download="">
                        <button type="submit">Descargar Datasheet</button>
                    </a>
                    <a href="../../../src/img/electronica/datasheet_electronica_componentes/#" target="_blank" rel="noopener noreferrer">
                        <button type="submit">Ver Datasheet</button>
                    </a>
                </div>
            </div>

            <div class="contenedor7">
                <div class="subcontenedor13">
                    <h3>Errores Comunes</h3><br>
                    Texto texto texto texto.
                    <h3>Principales errores y problemas</h3>
                    <ul>
                        <li><b>dato 0:</b> Texto texto texto.</li><br>
                        <li><b>dato 1:</b> Texto texto texto.</li><br>
                        <li><b>dato 2:</b> Texto texto texto.</li>
                    </ul>
                </div>
            </div>
        </main>
        <footer class="mi-footer">
            <h3>Electro Arduino</h3>
            <p>© 2018 Gandalf</p>
        </footer>
    </div>
</body>
</html>