/*===============Background===============*/
body{
    background-image: url('../../img/wallpapers/wallpaper3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*===============*===============*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*===============layout-container===============*/
.layout-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*===============mi-header===============*/
.mi-header{
    background-color: #08937350;
    color: white;
    padding: 20px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mi-header:hover{
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

/*===============mi-contenido===============*/
.mi-contenido{
    flex: 1;
    padding: 40px;
    justify-items: center;
}

/*===============mi-footer===============*/
.mi-footer{
    background: linear-gradient(to top, #08937325, #06765f50);
    color: white;
    padding: 20px;
    text-align: center;
    flex-shrink: 0;
    transition-duration: 0.50s;
}

.mi-footer:hover{
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

/*===============button===============*/
button{
    background-color: #085d4c50;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 12px 27px;
    margin: 5px;
    transform: skew(-10deg);
    transition-duration: 0.4s;
    box-shadow: 0.3s ease-in-out;
    /* clip-path: polygon(
        0% 100%, 85% 100%, 100% 50%, 100% 0%, 15% 0%, 0% 50%
    ); */
}

button:hover{
    padding: 20px;
    border: 2px solid #ecfdf6;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: inset 0 -1em 1em #2dbe95;
}

/*===============mi-contenido===============*/
.mi-contenido{
    flex: 1;
    padding: 40px;
    justify-items: center;
}

/*===============contenedor1===============*/
.contenedor1{
    background: linear-gradient(to top, #08937325, #06765f50);
    transform: scale(1.2);
    width: 285px;
    height: auto;
    margin: 10px auto 30px auto;
    padding: 5px;
    justify-items: center;
    text-align: center;
    border-radius: 14px;
    transition-duration: 0.50s;
    color: white;
    display: flex;
    gap: 20px;
}

.contenedor1:hover{
    padding: 20px;
  border: 2px solid white;
  backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

/*===============contenedor2===============*/
.contenedor2{
    background: linear-gradient(to top, #08937325, #06765f50);
    transform: scale(1.2);
    width: auto;
    height: auto;
    margin: 10px auto 30px auto;
    padding: 5px;
    justify-items: center;
    text-align: center;
    border-radius: 14px;
    transition-duration: 0.50s;
    color: white;
    display: flex;
    gap: 20px;
}

.contenedor2:hover{
    padding: 20px;
    border: 2px solid white;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

/*===============bangbus===============*/
.bangbus{
    height: 80px;
    width: 80px;
}

/*===============a===============*/
a{
    text-decoration: none;
    color: white;
}