body{
    background-image: url('../../img/wallpapers/wallpaper1.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*===============contenedor1===============*/
.contenedor1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*=============== formulario ===============*/
.formulario {
    background: linear-gradient(to top, #08937325, #06765f50);
    width: auto;
    height: auto;
    margin: 90px;
    padding: 20px;
    border-radius: 14px;
    color: white;

    /* 👇 transición correcta */
    transition: 
        transform 0.5s ease,
        box-shadow 0.5s ease,
        border 0.5s ease,
        backdrop-filter 0.5s ease;
}

.formulario:hover {
    transform: scale(1.1);
    border: 2px solid white;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

/*===============input===============*/
input{
    background-color: #d2f9e850;
    width: 230px;
    height: 20px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

input:focus {
    outline: none;
    border-color: #2dbe95;
    box-shadow: 0 0 8px rgba(0, 255, 213, 0.6);
}

/*===============button===============*/
button{
    background-color: #085d4c50;
    width: 230px;
    height: 30px;
    border: none;
    color: white;
    padding: 5px;
    margin: 5px;
    font-size: 15px;
    transition-duration: 0.4s;
    box-shadow: 0.3s ease-in-out;
    border-radius: 5px;
}

button:hover{
    padding: 20px;
    border: 2px solid #ecfdf6;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 
    inset 0 -1em 1em #2dbe95;
}

/*===============botonA===============*/
.botonA{
    width: 105px;
}

/*===============botonB===============*/
.botonB{
    width: 105px;
}

/*===============a===============*/
a{
    text-decoration: none;
    color: white;
}